.contacts {
   padding: 100px 0;
   @media (max-width: 565px) {
      padding: 60px 0px;
   }
}
.contacts__title {
   max-width: calc(50% - 20px);
   @media (max-width: 565px) {
      max-width: 100%;
   }
}
.contacts__content {
   display: flex;
   @media (max-width: 991px) {
      flex-direction: column-reverse;
   }
}
.contacts__column {
   flex: 0 0 50%;
   @media (max-width: 991px) {
      flex: 1 1 auto;
      text-align: center;
   }
   &-left {
      padding: 0px 20px 0px 0px;
      @media (max-width: 991px) {
         padding: 0px 0px 0px 0px;
         margin: 0px 0px 0px 0px;
      }
   }
   &-right {
      padding: 0px 0px 0px 60px;
      @media (max-width: 991px) {
         padding: 0px 0px 0px 0px;
         
      }
   }
}
.contacts__text {
   margin: 0px 0px 25px 0px;
   span {
      color: var(--accent-color);
      font-weight: 400;
   }
}
.contacts__email {
   font-size: 32px;
   text-align: center;
   padding: 15px 10px;
   margin: 10px 0 36px 0;
   background: var(--form-bg);
   @media (max-width: 991px) {
      max-width: 450px;
      margin: 10px auto 36px;
   }
   @media (max-width: 565px) {
      font-size: 18px;
      max-width: 300px;
   }
   a {
      color: var(--main-text);
      transition: all 0.6s linear;
      &:hover {
         color: var(--accent-color);
      }
   }
}
.contacts__social {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 0px 0px 50px 0px;
   &-item {
      flex: 0 0 60px;
      &:not(:last-of-type) {
         margin: 0px 30px 0px 0px;
      }
      text-align: center;
   }
}
.contacts__social-icon {
   width: 50px;
   height: 50px;
   fill: var(--main-text);
   transition: all 0.4s ease;
   &:hover {
      transform: scale(1.2);
      fill: var(--accent-color);
   }
   @media (max-width: 767px) {
      width: 35px;
      height: 35px;
   }
}